my-n8n-ollama-starter/n8n-workflows/ollama-chat.json
{
  "name": "Ollama Chat Webhook (minimal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ollama-chat",
        "responseMode": "responseNode",
        "options": { "allowUnauthorizedCerts": true }
      },
      "id": "Webhook_ollama_chat",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = $json;\nconst model = body.model || 'llama3.2';\nconst system = body.system || 'Du bist ein hilfreicher Assistent.';\nconst userPrompt = body.prompt || 'Sag hallo in einem Satz.';\nreturn [{ json: { url: $env.OLLAMA_URL || 'http://localhost:11434', payload: { model, messages: [ { role: 'system', content: system }, { role: 'user', content: userPrompt } ], stream: false } } }];"
      },
      "id": "Function_build_payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "url": "={{$json.url}}/api/chat",
        "method": "POST",
        "sendBody": true,
        "jsonBody": "={{$json.payload}}",
        "options": { "timeout": 120000 }
      },
      "id": "HTTP_ollama_chat",
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [780, 300]
    },
    {
      "parameters": {
        "functionCode": "const r = $json || {};\nconst content = r.message?.content || r.response || '';\nreturn [{ json: { response: content, raw: r } }];"
      },
      "id": "Function_map",
      "name": "Map → {response}",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {},
      "id": "Respond_webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook In": { "main": [ [ { "node": "Build Payload", "type": "main", "index": 0 } ] ] },
    "Build Payload": { "main": [ [ { "node": "Ollama Chat", "type": "main", "index": 0 } ] ] },
    "Ollama Chat": { "main": [ [ { "node": "Map → {response}", "type": "main", "index": 0 } ] ] },
    "Map → {response}": { "main": [ [ { "node": "Respond", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "tags": [ { "name": "ollama" }, { "name": "chat" }, { "name": "webhook" } ]
}
